AirbusCatalogue.Common/bin/
AirbusCatalogue.Common/obj/
AirbusCatalogue.Model/bin/
AirbusCatalogue.Model/obj/
AirbusCatalogue.ViewModel/bin/
AirbusCatalogue.ViewModel/obj/
AirbusCatalogue/bin/
AirbusCatalogue/obj/
